<!--Aqui é onde ciramos nossa configuração base-->
<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--#Importando CSS-->
    <%= stylesheet_link_tag "main", "main" %>
    <%= stylesheet_link_tag "Card", "Card" %>
    <!--#Importando JS-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
